*{
    margin: 0px;
    padding: 0px;
    
    

}
.jumbotron{
    background-image: url('../images/hack.jpg') ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    border-radius: 0px!important;
}


.jumbotron img{
    width: 200px;
    height: 100px;
    position: absolute;
    left: 40px;
    top: 30px;
    
}
.presenter{
    font-weight: 800;
    font-size: 50px;
}
.titl{
    font-weight: 800;
    font-size: 100px;
}
@media(max-width:1028px){
    .jumbotron img{
        width: 100px;
        height: 50px;
       position: absolute;
       left: 10px;
       top: 0px;
    }
    .presenter{
        font-weight: 600;
        font-size: 40px;
    }
    .titl{
        font-weight: 500;
        font-size: 50px;
        position: relative;
        bottom: 10px;
        
    }
    .spon{
        height: 100px;
        width: 200px;
    }
}
.inimg{
    height: 200px;
    width: 200px;
    
}

  #incentives{
    background-image: url('../images/simple.jpg');
    background-size: cover;
    background-position: center;

      color: black;
      
      
      
  }
 
.quote1{
    /* color: white; */
   font-family: cursive;
}
/* body{
    background-color: black;
} */
.aboutprog{
    margin-left:10px;
    margin-right: 10px;
}
.abtimg{
    height: 400px;
    width: 400px;
}
#about{
    background-image: url('../images/ai4.jpg');
    
    background-size: cover;
    background-position: center;
    
}
.abtcrd{
    background-image: url('../images/hackthon2.jpg');
}
.abtpara{
    background-color: white;
}
.lni{
   font-size: large;
}
.fas{
    padding-top:10px;
}
#cry{
    background-color: chocolate;
   color:white
}
.red{
    background-color: red;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: cornflowerblue;
}
.green{
    background-color: greenyellow;
}
.grey{
    background-color: grey;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: rgb(248, 63, 248);
}
.fa-4x{
    padding: 10px;
    color: black;
}
#sponsors{
    /* background-color: rgb(247, 166, 109);
    color: white; */
    background-image: url('../images/simplebg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}
i{
    font-weight: 400;
}   
 
.sponsor-column{
    padding: 3% 2%;
  }
.feature-box{
    padding: 3% 2%;
    text-align: center;
    color: black;
    
}
 body{
    background-color: black;
    color: white;
} 
.partimg{
    height: 100px;
    width: 200px;
}
.part-column{
    padding: 3% 2%; 
}
#team{
    background-color:rgb(55, 56, 54);
    color: chartreuse;
   
}
.speakimg{
    border: 5px solid chartreuse;
    height: 200px;
    width: 200px;
}
.speak-column{
    padding: 3% 2%;  
}
#FAQS{
    background-image: url('../images/eye.jpg');
    background-size: cover;
    background-position: center;
    /* background-color: chocolate; */
    padding-bottom: 40px;
    color: white;
}
#contact-us{
    background-color: black;
    color: white;
    margin-bottom:0;
}
.fa-2x{
    margin-left: 4px;
    color: white;
}
#footer{
    background-color: black;
    color: white;
    padding-bottom: 20px;
}


